<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gosling.dao.classify.ClassifyDao">
	
	<select id="getById" parameterType="Integer" resultType="com.gosling.entity.classify.Classify">
		select
		   *
		from `classify`
		where `id` = #{id}
	</select>
 
  <sql id="getCondition">
        <where>
        		<if test="queryMap.id != null and queryMap.id !='' ">
        			and `id` = #{queryMap.id}
        		</if>
        		<if test="queryMap.pid != null and queryMap.pid !='' ">
        			and `pid` = #{queryMap.pid}
        		</if>
        		<if test="queryMap.ppath != null and queryMap.ppath !='' ">
        			and `ppath` like CONCAT('%', #{queryMap.ppath}, '%')
        		</if>
        		<if test="queryMap.name != null and queryMap.name !='' ">
        			and `name` like CONCAT('%', #{queryMap.name}, '%')
        		</if>
        		<if test="queryMap.sort != null and queryMap.sort !='' ">
        			and `sort` = #{queryMap.sort}
        		</if>
        		<if test="queryMap.startDate !=null  and queryMap.startDate !='' "> 
        			and `createTime` &gt; #{queryMap.startDate}
        		</if>
				<if test="queryMap.endDate !=null  and queryMap.endDate !='' "> 
					and `createTime` &lt; #{queryMap.endDate} 
				</if>
        </where>
    </sql>
    
   <select id="getClassifys" parameterType="java.util.Map" resultType="com.gosling.entity.classify.Classify">
		select
		   *
		from `classify`
		<include refid="getCondition"/>
		order by `id` desc
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
	
   <select id="getClassifysCount" parameterType="java.util.Map" resultType="Integer">
		select
		   count(*)
		from `classify`
		<include refid="getCondition"/>
   </select>
	
	<insert id="insert" parameterType="com.gosling.entity.classify.Classify" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into `classify`
		(
			`pid`,
			`ppath`,
			`name`,
			`sort`,
			`createTime`
		)
		values
		(
			#{pid},
			#{ppath},
			#{name},
			#{sort},
			#{createTime}
		)
	</insert>
	
	<update id="update" parameterType="com.gosling.entity.classify.Classify">
        update `classify`
    	<set>
			<if test="pid != null">`pid`= #{pid},</if>
			<if test="ppath != null">`ppath`= #{ppath},</if>
			<if test="name != null">`name`= #{name},</if>
			<if test="sort != null">`sort`= #{sort},</if>
			<if test="createTime != null">`createTime`= #{createTime}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<delete id="delById">
        delete from `classify` where `id` = #{id}
    </delete>
    
    <select id="getByProperties" parameterType="java.util.Map" resultType="com.gosling.entity.classify.Classify">
   	 	select
		   *
		from `classify`
		where 1=1
		<if test="queryMap.id != null and queryMap.id !='' ">
   			and `id` = #{queryMap.id}
   		</if>
		<if test="queryMap.pid != null and queryMap.pid !='' ">
   			and `pid` = #{queryMap.pid}
   		</if>
		<if test="queryMap.ppath != null and queryMap.ppath !='' ">
   			and `ppath` = #{queryMap.ppath}
   		</if>
		<if test="queryMap.name != null and queryMap.name !='' ">
   			and `name` = #{queryMap.name}
   		</if>
		<if test="queryMap.sort != null and queryMap.sort !='' ">
   			and `sort` = #{queryMap.sort}
   		</if>
		<if test="queryMap.createTime != null and queryMap.createTime !='' ">
   			and `createTime` = #{queryMap.createTime}
   		</if>
    </select>
    
</mapper>