<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gosling.dao.member.MemberDao">
	
	<select id="getById" parameterType="Integer" resultType="com.gosling.entity.member.Member">
		select
		   *
		from `member`
		where `id` = #{id}
	</select>
 
  <sql id="getCondition">
        <where>
        		<if test="queryMap.id != null and queryMap.id !='' ">
        			and `id` = #{queryMap.id}
        		</if>
        		<if test="queryMap.username != null and queryMap.username !='' ">
        			and `username` like CONCAT('%', #{queryMap.username}, '%')
        		</if>
        		<if test="queryMap.password != null and queryMap.password !='' ">
        			and `password` like CONCAT('%', #{queryMap.password}, '%')
        		</if>
        		<if test="queryMap.nickname != null and queryMap.nickname !='' ">
        			and `nickname` like CONCAT('%', #{queryMap.nickname}, '%')
        		</if>
        		<if test="queryMap.pid != null and queryMap.pid !='' ">
        			and `pid` = #{queryMap.pid}
        		</if>
        </where>
    </sql>
    
   <select id="getMembers" parameterType="java.util.Map" resultType="com.gosling.entity.member.Member">
		select
		   *
		from `member`
		<include refid="getCondition"/>
		order by `id` desc
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
	
   <select id="getMembersCount" parameterType="java.util.Map" resultType="Integer">
		select
		   count(*)
		from `member`
		<include refid="getCondition"/>
   </select>
	
	<insert id="insert" parameterType="com.gosling.entity.member.Member" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into `member`
		(
			`username`,
			`password`,
			`nickname`,
			`pid`
		)
		values
		(
			#{username},
			#{password},
			#{nickname},
			#{pid}
		)
	</insert>
	
	<update id="update" parameterType="com.gosling.entity.member.Member">
        update `member`
    	<set>
			<if test="username != null">`username`= #{username},</if>
			<if test="password != null">`password`= #{password},</if>
			<if test="nickname != null">`nickname`= #{nickname},</if>
			<if test="pid != null">`pid`= #{pid}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<delete id="delById">
        delete from `member` where `id` = #{id}
    </delete>
    
    <select id="getByProperties" parameterType="java.util.Map" resultType="com.gosling.entity.member.Member">
   	 	select
		   *
		from `member`
		where 1=1
		<if test="queryMap.id != null and queryMap.id !='' ">
   			and `id` = #{queryMap.id}
   		</if>
		<if test="queryMap.username != null and queryMap.username !='' ">
   			and `username` = #{queryMap.username}
   		</if>
		<if test="queryMap.password != null and queryMap.password !='' ">
   			and `password` = #{queryMap.password}
   		</if>
		<if test="queryMap.nickname != null and queryMap.nickname !='' ">
   			and `nickname` = #{queryMap.nickname}
   		</if>
		<if test="queryMap.pid != null and queryMap.pid !='' ">
   			and `pid` = #{queryMap.pid}
   		</if>
    </select>
    
</mapper>