<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:properties-config/jdbc.properties</value>
				<value>classpath:properties-config/config.properties</value>
			</list>
		</property>
	</bean>
	
	<context:component-scan base-package="com.gosling">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    
	<import resource="spring-datasources.xml"/>
	<!-- -->
	<bean id="domainUrlUtil" class="com.gosling.util.freemarkerutil.DomainUrlUtil">
		<property name="URL_RESOURCES" value="${url.resources}" />
		<property name="STATIC_RESOURCES" value="${static.resources}" />
		<property name="IMAGE_RESOURCES" value="${image.resources}" />
	</bean>

</beans>