<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	<context:component-scan base-package="com.gosling.controller">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
	</context:component-scan>

	<!-- 静态资源访问 -->
	<mvc:resources location="/resources/" mapping="/resources/**" />

	<!-- AnnotationMethodHandlerAdapter类，通过注解，把一个URL映射到Controller类的方法上 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<mvc:annotation-driven>
	</mvc:annotation-driven>

	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<bean class="org.springframework.http.MediaType">
					<constructor-arg index="0" value="application" />
					<constructor-arg index="1" value="json" />
					<constructor-arg index="2" value="UTF-8" />
				</bean>
			</list>
		</property>
		<property name="objectMapper">
			<bean class="com.fasterxml.jackson.databind.ObjectMapper">
				<property name="dateFormat">
					<bean class="java.text.SimpleDateFormat">
						<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"></constructor-arg>
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">  
        <property name="mediaTypes">  
            <value>  
                html=text/html  
                json=application/json  
            </value>  
        </property>  
        <property name="defaultContentType" value="text/html"/>  
    </bean> 
    
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver" id="viewResolver">
		<property name="order" value="0"/>  
        <property name="contentNegotiationManager" ref="contentNegotiationManager"/>
		<property name="viewResolvers">
			<list>
				<bean
					class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
					<property name="order" value="1"></property>
					<property name="contentType" value="text/html;charset=UTF-8"></property>
					<property name="cache" value="true"></property>
					<property name="prefix" value=""></property>
					<property name="suffix" value=".ftl"></property>
					<property name="requestContextAttribute" value="request" />
					<property name="exposeRequestAttributes" value="true"></property>
					<property name="exposeSessionAttributes" value="true"></property>
					<property name="exposeSpringMacroHelpers" value="true"></property>
					<property name="attributesMap" ref="freemarkerStaticModels"></property>
				</bean>
				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="order" value="2"></property>
					<property name="prefix" value="/WEB-INF/views/" />
					<property name="suffix" value=".jsp" />
				</bean>
			</list>
		</property>
		<property name="defaultViews">  
            <list>  
                <bean class="com.alibaba.fastjson.support.spring.FastJsonJsonView">  
                    <property name="charset" value="UTF-8"/>  
                </bean>  
            </list>  
        </property> 
	</bean>
	<bean id="freemarkerStaticModelsProps" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:properties-config/freemarkerStatic.properties" />
	</bean>
	<bean id="freemarkerStaticModels" class="com.gosling.util.freemarker.FreemarkerStaticModels" factory-method="getInstance">
		<property name="staticModels" ref="freemarkerStaticModelsProps" />
	</bean>
	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
	<!-- freemarkerConfig配置 -->
	<bean id="freemarkerConfig" class="com.gosling.util.freemarker.CustomFreeMarkerConfigurer">
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="templateLoaderPath" value="/WEB-INF/views/"></property>
		<property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="fmXmlEscape" />
			</map>
		</property>
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">1</prop>
				<prop key="defaultEncoding">UTF-8</prop>
				<prop key="url_escaping_charset">UTF-8</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="boolean_format">true,false</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="time_format">HH:mm:ss</prop>
				<prop key="number_format">0.######</prop>
				<prop key="whitespace_stripping">true</prop>
			</props>
		</property>
	</bean>
	
	<!-- spring mvc 上传文件 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		p:maxUploadSize="5120000" p:maxInMemorySize="512" p:defaultEncoding="UTF-8" />
	
	<!-- 拦截器 -->
	<import resource="spring-authority.xml"/>
	
	<mvc:default-servlet-handler />
</beans>